:root{
  --primary-color:#4c1d95;
}
.App {
  text-align: center;
 
}
.brand{
  text-align: left;
  color: var(--primary-color);
  padding-left: 3rem;
}
.container{
  display: flex;
  background-color: #d1d5db;
}
.sidenav{
background-color: transparent;

}
.nav-links{
  padding: 0.5rem;

}
.active{
  font-weight: bold;
  font-size: larger;
}
.post{
  background-color: white;
  padding: 0.7rem;
  margin: 0.3rem;
  display: flex;
}
.post-components{
  padding: 0.5rem;
  
}
.sorttype{
  padding: 2rem;
}
.replying-to{
  color: var(--primary-color);
  display: inline;
}
.uparrow{
  color: var(--primary-color);
}
.username{
  color: var(--primary-color);
}
.hash-tags{
  color: var(--primary-color);
  margin: 0.2rem;
  padding: 0.2rem;
  background-color:#ddd9e3;
  border-radius: 3px;
}