:root{
  --primary-color:#4c1d95;
}
.App {
  text-align: center;
  background-color: #d1d5db;
}
.container{
  display: flex;
}
.sidenav{
background-color: transparent;

}
.nav-links{
  padding: 0.5rem;

}
.active{
  font-weight: bold;
  font-size: larger;
}
.post{
  background-color: white;
  padding: 0.7rem;
  margin: 0.3rem;
  display: flex;
}
.post-components{
  padding: 0.5rem;
  
}
.sorttype{
  padding: 2rem;
}
.replying-to{
  color: var(--primary-color);
  display: inline;
}